<div class="container">

<p>
  <strong>Título:</strong>
  <%= @anuncio.titulo %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @anuncio.descricao %>
</p>


<p>
    <strong>Depoimento do Dono:</strong>
    <%= @anuncio.depoimentoDONO %>
</p>

<p>
    <%= image_tag @anuncio.image %>
</p>
</div>