// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.container{
    h1{
        margin-left: 15px;
    }
    
    ul{
        padding: 14px;
        text-align: center;
        
    }
    
}