// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.container{
    max-width: 85%px;
    margin: 0 auto;
    text-align: center;
    
    ul{
        color: #fff;
        padding: 14px;
        text-align: center;
        
        li{
            margin-right:20px;
        }
    }
    
    .navbar-nav{
        position: relative;
        left:20%;
    }
}

@media (min-width: 768px){
    container{
        .navbar-nav{
            left:0;
        }
    }
    
    
}